<app-navbar-connect [user]="user"></app-navbar-connect>
<div class="containerCard" *ngFor="let event of tabAllEvents; let i = index">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ event.title }} </mat-card-title>
      <mat-card-subtitle> {{ event.lieu.city }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ event.photobandeau }}" alt="Photo of a Shiba Inu">
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div *ngIf="event.numeros[0] === undefined">
         <p>Aucune précision sur les numéros présenter à cette évènement</p>
      </div>
      <div *ngIf="event.numeros[0] !== undefined">
        <div *ngFor="let numero of event.numeros; let i = index">
          <div *ngIf="numero.title !== undefined">
            Cette évenement regroupera les numeros suivant :
            <p> {{ i+1 }} - {{ numero.title }} </p>
            <div *ngFor="let artist of numero.artists; let i = index">
              <div *ngIf="artist.firstname !== undefined">
                <p>Artiste : {{ artist.firstname }} {{ artist.lastname }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="event.numeros[0] === undefined">
         <p>Aucune précision sur le présentateur à cette évènement</p>
      </div>
        <div *ngIf="event.artists[0] !== undefined">
          Vous passerez un agréable moment accompagner de votre présentateur préféré {{ event.artists[0].firstname }}
          {{ event.artists[0].lastname }}
        </div>
    </mat-card-content>
  </mat-card>
  <div class="containerBtnAction">
    <button class="btnDelete" (click)="deleteEvent(event.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="btnDelete" (click)="deleteEvent(event.id)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
