<div id="navbar-container">
  <ul>
    <li>
      <a class="nav_a" [routerLink]="['/']" routerLinkActive="router-link-active">Acceuil</a>
    </li>
    <li>
      <a class="nav_a" [routerLink]="['/numeros']" routerLinkActive="router-link-active">Nos Numéros</a>
    </li>
    <li>
      <a class="nav_a" [routerLink]="['/artists']" routerLinkActive="router-link-active">Nos Artistes</a>
    </li>
    <li>
      <a class="nav_a" [routerLink]="['/animals']" routerLinkActive="router-link-active">Nos animaux</a>
    </li>
    <li>
      <a class="nav_a" [routerLink]="['/events']" routerLinkActive="router-link-active">Nos Evènement</a>
    </li>
    <li>
      <a class="nav_a" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
    </li>
  </ul>
  <div class="mobile-menu">
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button> -->
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/accueil']" routerLinkActive="burger-link-active" mat-menu-item>Accueil</a>
      <a [routerLink]="['/numeros']" routerLinkActive="burger-link-active" mat-menu-item>Nos Numéros</a>
      <a [routerLink]="['/artists']" routerLinkActive="burger-link-active" mat-menu-item>Nos Artists</a>
      <a [routerLink]="['/animals']" routerLinkActive="burger-link-active" mat-menu-item>Nos Animals</a>
      <a [routerLink]="['/events']" routerLinkActive="burger-link-active" mat-menu-item>Nos Evènement</a>
      <a [routerLink]="['/contact']" routerLinkActive="burger-link-active" mat-menu-item>Contact</a>
    </mat-menu>
  </div>

  <div class="container">
      <p class="connect" [routerLink]="['/login']" routerLinkActive="router-link-active">Connexion</p>
  </div>


  <!-- <div class="conexion-btn">
    <mat-chip-list aria-label="Fish selection">
      <button class="connect"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Connexion</a></button>
    </mat-chip-list>

  </div> -->
</div>
