<app-navbar></app-navbar>
<div class="header">
  <h1>Si nous partagions nos impressions ?</h1>
</div>


<div class="img">
  <img alt="contact" src="../../../../assets/images/contact.jpg">
</div>
<div class="form_map">
  <!-- Reactiv Form -->
  <mat-card class="form-container">
    <app-form></app-form>
  </mat-card>

  <!-- openStreetMap -->
  <div class="map-container">

    <mat-card id="map" class="map">
      <h2>NOUS TROUVER ?</h2>
    </mat-card>

  </div>
  </div>
<app-footer></app-footer>
