img {
  width: 100%;
}

h1 {
  text-align: center;
}

//Map
.map {
  background-color: white;
  margin: 3em;
  padding: 2em;
  display:flex;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 75%;
}

